ul.nav.justify-content-center.fixed-top
  li.nav-item
    a.nav-link(href='#',onClick='print()') <i class="fas fa-print"></i> Print
  li.nav-item
    a.nav-link(href='data/cv-supun-praneeth.pdf',target="_blank") <i class="far fa-file-pdf"></i> PDF
  li.nav-item
    a.nav-link(href='https://github.com/spmsupun/portfolio', target="_blank") <i class="fas fa-code-branch"></i> Fork
