extends layout

block content
  div(class="text-center error-404")
    i(class="far fa-frown" style="font-size:10em")
    h2 Page Not Found
    p The page you are looking for doesn't exist or a other error occurred!
    pre(class="text-left code") #{error.stack}
